.home {
  text-align: center;
 
}


.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}








.App-link {
  color: #61dafb;
}

  